/* Header styles */
.header_background {
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.header__container_background {
  padding-top: clamp(16px, 4vw, 34px);
  padding-bottom: 190px;
  background: url("../img/illustration.png") no-repeat right center;
  background-size: 45%;
}

.info {
  margin-top: 107px;
}

.info__heading {
  width: 504px;
  letter-spacing: 0.03em;
  color: var(--color-blue);
}

.info__text {
  margin: 32px 0 72px;
  width: 425px;
}

.info__link {
  opacity: 1;
  color: var(--color-white);
  background-color: var(--color-light-blue);
  display: inline-block;
  padding: 15px 50px;
  border-radius: 10px;
}

/* Page styles */
.homePageMainContent__container {
  padding-top: 64px;
  padding-bottom: 112px;
}

.whatWeDo__heading {
  color: var(--color-black);
  text-align: center;
}

.whatWeDo__wrapper {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.service {
  max-width: 359px;
  /* width: 31.5%; */
  padding: 44px 32px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  background: var(--color-white);
  display: flex;
  flex-direction: column;
}

.service__img {
  align-self: center;
}

.service__heading {
  margin-top: 51px;
  color: var(--color-blue);
}

.service__text {
  margin-top: 14px;
  color: var(--color-blue);
}

.service__link {
  margin-top: 28px;
  color: var(--color-light-blue);
}

.service__link__arrow {
  vertical-align: text-bottom;
  padding-left: 20px;
}

.homePageMainContent__finishedProject {
  margin-top: 64px;
  text-align: center;
}

.finishedProject__text {
  margin: 32px 0 64px;
  color: var(--color-black);
  opacity: 1;
}

.finishedProject__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3%;
}

.finishedProject__link {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.finishedProject__link_widthByContainer {
  grid-column: 1 /3;
}

.finishedProject__link__img {
  width: 100%;
}

.finishedProject__link__text_fixedPosition {
  position: absolute;
  top: 64px;
  right: 64px;
  font-size: 2em;
  line-height: 1.3em;
  color: var(--color-white);
}

.finishedProject__link__text_densePosition {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 1.75em;
  line-height: 2.88em;
  color: var(--color-white);
}

/* Media queries */
@media (max-width: 1140px) {
  .homePageMainContent__container {
    padding-bottom: 109px;
  }

  .whatWeDo__wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }

  .service {
    margin-top: 32px;
    padding: 42px 30px;
  }

  .service__heading {
    margin-top: 46px;
  }

  .homePageMainContent__finishedProject {
    margin-top: 127px;
  }

  .finishedProject__link__text_densePosition {
    top: clamp(16px, 3vw, 20px);
    left: clamp(16px, 3vw, 20px);
  }
}

@media (max-width: 768px) {
  .header__container_background {
    padding-bottom: 40px;
    background: none;
  }

  .info {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info__heading {
    width: auto;
    text-align: center;
  }

  .info__text {
    margin: 12px 0 32px;
    width: auto;
    text-align: center;
  }

  .info__link {
    font-size: 0.75em;
    padding: 4px 9px;
  }

  .homePageMainContent__container {
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .whatWeDo__wrapper {
    margin-top: 0;
  }

  .service {
    padding-bottom: 22px;
  }

  .service__link {
    margin-top: 45px;
  }

  .homePageMainContent__finishedProject {
    margin-top: 64px;
  }

  .finishedProject__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .finishedProject__link {
      width: 100%;
    }

    .finishedProject__link:nth-of-type(n + 2) {
      margin-top: 3vw;
    }
  }

  .finishedProject__link__text_fixedPosition,
  .finishedProject__link__text_densePosition {
    font-size: clamp(1em, 3vw, 1.75em);
    line-height: 1.3em;
  }

  .finishedProject__link__text_fixedPosition {
    top: clamp(16px, 3vw, 64px);
    right: clamp(16px, 3vw, 64px);
  }
}
